@model LocadoraDejogos.Models.Consoles

@{
    ViewData["Title"] = "Deletar Console";
}

<br />
<br />
<br />

<h4>Consoles</h4>
<h3>Tem certeza que deseja apagar este dado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WikipediaURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WikipediaURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
    </dl>

    <form asp-action="Delete">
        <a asp-action="Index" class="remove-link">
            <button type="button" class="btn btn-secondary">
                Voltar para Consoles
            </button>
        </a>

        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Deletar Console" class="btn btn-danger" />
    </form>
</div>

<br />