@model IEnumerable<LocadoraDejogos.Models.Consoles>

@{
    ViewData["Title"] = "Consoles";
}

<br />
<br />

<! Botões de criar, editar, detalhes e delete –>
<div class="botoes">
    <button type="button" class="btn btn-outline-primary">
        <h4 class="remove-margin">Consoles</h4>
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Consoles','0', 0)">
        Adicionar um Console
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Consoles','edit', 1)">
        Editar
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Consoles','details', 1)">
        Detalhes
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Consoles','delete', 1)">
        Deletar
    </button>
</div>

<br />
<br />
<br />

<table class="table">
    <thead>
        <div class="tabela consoles">
            <ul class="linha remove-margin ">
                <li>Imagem</li>
                <li>@Html.DisplayNameFor(model => model.Nome)</li>
                <li>@Html.DisplayNameFor(model => model.Fabricante)</li>
                <li>@Html.DisplayNameFor(model => model.Geracao)</li>
                <li>@Html.DisplayNameFor(model => model.Ano)</li>
            </ul>
        </div>

        <hr style="border: 1px solid black; width: 100%;">

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <button type="button" class="btn btn-outline-primary" onclick="atualizarItemClickado(@item.ID)" 
                    style="width:100%; margin-bottom:4px;">
                <div class="tabela consoles">
                    <ul class="linha remove-margin">
                        <li>
                            <a href="@Html.DisplayFor(modelItem => item.WikipediaURL)">
                                <img src="@Html.DisplayFor(modelItem => item.ImagemURL)"
                                     style="height:100px; background-size:auto;" />
                            </a>
                        </li>
                        <li>@Html.DisplayFor(modelItem => item.Nome)</li>
                        <li>@Html.DisplayFor(modelItem => item.Fabricante)</li>
                        <li>@Html.DisplayFor(modelItem => item.Geracao)</li>
                        <li>@Html.DisplayFor(modelItem => item.Ano)</li>
                    </ul>

                </div>
            </button>
        }
    </tbody>
</table>