@model IEnumerable<LocadoraDejogos.Models.Consoles>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<! Botões de edit, detalhes e delete –>
<div class="botoes">
    <button>
        <a asp-action="Create">Adicionar um Console</a>
    </button>

    <button onclick="redirecionarPagina('Consoles','edit')">
        Editar
    </button>

    <button onclick="redirecionarPagina('Consoles','details')">
        Detalhes
    </button>

    <button onclick="redirecionarPagina('Consoles','delete')">
        Deletar
    </button>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                Imagem:
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="atualizarItemClickado(@item.ID)">
                <td style="text-align:center">
                    <a href="@Html.DisplayFor(modelItem => item.WikipediaURL)">
                        <img src="@Html.DisplayFor(modelItem => item.ImagemURL)" style="height:100px; background-size:auto;" />
                    </a>

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Geracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
            </tr>
        }
    </tbody>
</table>

