@model IEnumerable<LocadoraDejogos.Models.Clientes>

@{
    ViewData["Title"] = "Clientes";
}

<br />
<br />

<! Botões de criar, editar, detalhes e delete –>
<div class="botoes">
    <button type="button" class="btn btn-outline-primary">
        <h4 class="remove-margin">Clientes</h4>
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Clientes','0', 0)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 18">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />

        </svg> Adicionar um Cliente
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Clientes','edit', 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 18">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
        </svg> Editar
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Clientes','details', 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
        </svg> Detalhes
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Clientes','delete', 1)">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 17">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
        </svg> Deletar
    </button>

    <a asp-action="ExportarClientesExcel" class="btn btn-success" style="border:2px solid black">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
            <path d="M11 2H9v3h2z" />
            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
        </svg> Exportar para Excel
    </a>
</div>

<br />
<br />
<br />

<table class="table">
    <thead>
        <div class="tabela clientes">
            <ul class="linha remove-margin ">
                
                <li>
                    <a asp-action="Index" asp-route-Ordenar="Login" class="remove-link">
                        @Html.DisplayNameFor(model => model.Login)
                    </a>
                </li>

                <li>
                    <a asp-action="Index" asp-route-Ordenar="Senha" class="remove-link">
                        @Html.DisplayNameFor(model => model.Senha)
                    </a>
                </li>
                
                <li>
                    <a asp-action="Index" asp-route-Ordenar="CPF" class="remove-link">
                        @Html.DisplayNameFor(model => model.CPF)
                    </a>
                </li>

                <li>
                    <a asp-action="Index" asp-route-Ordenar="Nome" class="remove-link">
                        @Html.DisplayNameFor(model => model.Nome)
                    </a>
                </li>
                
                <li>
                    <a asp-action="Index" asp-route-Ordenar="DataNascimento" class="remove-link">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </a>
                </li>
                
                <li>
                    <a asp-action="Index" asp-route-Ordenar="Telefone" class="remove-link">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </a>
                </li>
                
            </ul>
        </div>
    </thead>

    <tbody>
        @foreach (var item in Model) 
        {
            <button type="button" class="btn btn-outline-primary" onclick="atualizarItemClickado(@item.ID)" style="width:100%">
                <div class="tabela clientes">
                    <ul class="linha remove-margin">
                        <li>@Html.DisplayFor(modelItem => item.Login)</li>
                        <li>@Html.DisplayFor(modelItem => item.Senha)</li>
                        <li>@Html.DisplayFor(modelItem => item.CPF)</li>
                        <li>@Html.DisplayFor(modelItem => item.Nome)</li>
                        <li>@Html.DisplayFor(modelItem => item.DataNascimento)</li>
                        <li>@Html.DisplayFor(modelItem => item.Telefone)</li>
                    </ul>
                </div>
            </button>
        }
    </tbody>
</table>
