@model IEnumerable<LocadoraDejogos.Models.Alugueis>

@{
    ViewData["Title"] = "Alugueis";
}

<br />
<br />

<! Botões de criar, editar, detalhes e delete –>
<div class="botoes">
    <button type="button" class="btn btn-outline-primary">
        <h4 class="remove-margin">Alugueis</h4>
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Alugueis','0', 0)">
        Adicionar um Aluguel
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Alugueis','edit', 1)">
        Editar
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Alugueis','details', 1)">
        Detalhes
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Alugueis','delete', 1)">
        Deletar
    </button>
</div>

<br />
<br />
<br />

<table class="table">
       
        <div class="tabela alugueis">
            <ul class="linha remove-margin ">
                <li>@Html.DisplayNameFor(model => model.Clientes)</li>
                <li>@Html.DisplayNameFor(model => model.Jogos)</li>
                <li>@Html.DisplayNameFor(model => model.Funcionarios)</li>
            </ul>
        </div>
    
        @foreach (var item in Model) 
        {
            <button type="button" class="btn btn-outline-primary" onclick="atualizarItemClickado(@item.ID)" style="width:100%">
                <div class="tabela alugueis">
                    <ul class="linha remove-margin">
                        <li>@Html.DisplayFor(modelItem => item.Clientes.Nome)</li>
                        <li>@Html.DisplayFor(modelItem => item.Jogos.Nome)</li>
                        <li>@Html.DisplayFor(modelItem => item.Funcionarios.Nome)</li>
                    </ul>
                </div>
            </button>

        }
</table>
