@model IEnumerable<LocadoraDejogos.Models.Alugueis>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<! Botões de edit, detalhes e delete –>
<div class="botoes">
    <button>
        <a asp-action="Create">Adicionar um Aluguel</a>
    </button>

    <button onclick="redirecionarPagina('Alugueis','edit')">
        Editar
    </button>

    <button onclick="redirecionarPagina('Alugueis','details')">
        Detalhes
    </button>

    <button onclick="redirecionarPagina('Alugueis','delete')">
        Deletar
    </button>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionarios)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) 
        {
            <tr onclick="atualizarItemClickado(@item.ID)">
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jogos.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionarios.ID)
                </td>
            </tr>
        }
    </tbody>
</table>
