@model LocadoraDejogos.Models.Jogos

@{
    ViewData["Title"] = "Detalhes";
}

<br />
<br />
<br />

<h4>Jogos</h4>
<hr />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CapaURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CapaURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundoURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FundoURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LojaURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LojaURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desenvolvedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desenvolvedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distribuidora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distribuidora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consoles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consoles.ID)
        </dd>
    </dl>
</div>
<div class="form-group">

    <button type="button" class="btn btn-secondary">
        <a asp-action="Index" class="remove-link">
            Voltar para Jogos
        </a>
    </button>

    <button type="button" class="btn btn-info">
        <a asp-action="Edit" asp-route-id="@Model?.ID" style="color: inherit; text-decoration: none;">Editar Jogo</a>
    </button>
</div>

<br />