@model IEnumerable<LocadoraDejogos.Models.Jogos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<! Botões de edit, detalhes e delete –>
<div class="botoes">
    <button>
        <a asp-action="Create">Adicionar um Jogo</a>
    </button>

    <button onclick="redirecionarPagina('Jogos','edit')">
        Editar
    </button>

    <button onclick="redirecionarPagina('Jogos','details')">
        Detalhes
    </button>

    <button onclick="redirecionarPagina('Jogos','delete')">
        Deletar
    </button>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                Imagem
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desenvolvedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distribuidora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                Console
            </th>
            <th>
                Unidades
            </th>
            <th>
                Preço
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="linha-jogos" data-background-url="@Html.DisplayFor(modelItem => item.FundoURL)" onclick="atualizarItemClickado(@item.ID)">
                <td style="text-align:center">

                    <a href="@Html.DisplayFor(modelItem => item.LojaURL)">
                        <img src="@Html.DisplayFor(modelItem => item.CapaURL)" style="width:100px; height:auto;" />
                    </a>

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Desenvolvedor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Distribuidora)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>

                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Consoles.WikipediaURL)">
                        @Html.DisplayFor(modelItem => item.Consoles.Nome)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Unidade)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
            </tr>
        }
    </tbody>
</table>




