@model IEnumerable<LocadoraDejogos.Models.Jogos>

@{
    ViewData["Title"] = "Jogos";
}

<br />
<br />

<! Botões de criar, editar, detalhes e delete –>
<div class="botoes">

    <button type="button" class="btn btn-outline-primary">
        <h4 class="remove-margin">Jogos</h4>
    </button>


    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Jogos','0', 0)">
        Adicionar um Jogo
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Jogos','edit', 1)">
        Editar
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Jogos','details', 1)">
        Detalhes
    </button>

    <button type="button" class="btn btn-outline-primary" onclick="redirecionarPagina('Jogos','delete', 1)">
        Deletar
    </button>
</div>

<br />
<br />
<br />







<table class="table table-hover tabela">
<thead >
        <div class="tabela jogos" 
            style="margin-left:2.5%; margin-right:2.5%; background-color:white; padding:1%; 
border-radius: 10px;
  border: 2px solid black;
" >
        <ul class="linha remove-margin">
            <li style="padding-left: 1%;">Imagem</li>
            <li>@Html.DisplayNameFor(model => model.Nome)</li>
            <li style="padding-left: 2%;">@Html.DisplayNameFor(model => model.Desenvolvedor)</li>
            <li>@Html.DisplayNameFor(model => model.Distribuidora)</li>
            <li>@Html.DisplayNameFor(model => model.Genero)</li>
            <li>@Html.DisplayNameFor(model => model.Ano)</li>
            <li>Console</li>
            <li >Unidades</li>
            <li>Preço</li>
            <li>Alugar</li>
        </ul>
    </div>
</thead>


<table class="table">
    <thead>

        

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <button type="button" class="linha-jogos btn btn-outline-primary" onclick="atualizarItemClickado(@item.ID)"
                    data-background-url="@Html.DisplayFor(modelItem => item.FundoURL)" onclick="atualizarItemClickado(@item.ID"
                    style="width:100%; margin-bottom:4px;">

                <div class="tabela jogos">
                    <br />
                    <ul class="linha">
                        <li>
                            <a href="@Html.DisplayFor(modelItem => item.LojaURL)">
                                <img src="@Html.DisplayFor(modelItem => item.CapaURL)" style="width:80%;" />
                            </a>
                        </li>
                        <li>@Html.DisplayFor(modelItem => item.Nome)</li>
                        <li>@Html.DisplayFor(modelItem => item.Desenvolvedor)</li>
                        <li>@Html.DisplayFor(modelItem => item.Distribuidora)</li>
                        <li>@Html.DisplayFor(modelItem => item.Genero)</li>
                        <li>@Html.DisplayFor(modelItem => item.Ano)</li>
                        <li>
                            <a href="@Html.DisplayFor(modelItem => item.Consoles.WikipediaURL)" class="remove-link">
                                @Html.DisplayFor(modelItem => item.Consoles.Nome)
                            </a>
                        </li>
                        <li>@Html.DisplayFor(modelItem => item.Unidade)</li>
                        <li>R$@Html.DisplayFor(modelItem => item.Preco)</li>
                        <li class="remove-margin">                           
                            <img src="https://seeklogo.com/images/C/Carrinho_de_Compras-logo-F251151A71-seeklogo.com.png"
                                 style="width:70px; height:auto;" type="button" class="btn btn-success" />
                        </li>
                    </ul>
                </div>
            </button>
        }
    </tbody>
</table>







